
:root {
  --clr-primary: #15847b;
  --clr-secondary: hsl(13, 88%, 68%);
  --clr-secondary-light: hsl(13, 87%, 82%);
  --clr-secondary-dark: hsl(13, 74%, 49%);
  --clr-text: #001b3d;
  --clr-text-light: hsl(209, 28%, 39%);
  --clr-white: #fff;
  --clr-black: #222;
  --clr-background: hsl(210, 36%, 96%);
  --clr-border: hsl(210, 31%, 80%);
  --transition: all 0.1s linear;
  --max-width: 650px;
  --spacing: 0.1rem;
  --radius: 0.25rem;

  /* --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);

  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

  --fixed-width: 450px;
  --clr-orange-1: hsl(12, 83%, 98%);
  --clr-orange-2: hsl(14, 91%, 95%);
  --clr-orange-3: hsl(12, 89%, 89%);
  --clr-orange-4: hsl(13, 87%, 82%);
  --clr-orange-5: hsl(13, 88%, 68%);
  --clr-orange-6: hsl(13, 88%, 55%);
  --clr-orange-7: hsl(13, 74%, 49%);
  --clr-orange-8: hsl(13, 74%, 33%);
  --clr-orange-9: hsl(13, 73%, 25%);
  --clr-orange-10: hsl(13, 73%, 16%); */
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--clr-secondary);
}

a:hover {
  text-decoration: underline;
  color: var(--clr-primary);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 0.5rem;
  color: var(--clr-text);
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section,
.container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 600px) {
  .section {
    width: 95vw;
  }
}

.container {
  text-align: left;
  margin-top: 1.5rem;
}

hr {
  border-top: 1px;
  border-left: 0;
  border-color: var(--clr-secondary-light);
  border-width: 1px;
}

.btn {
  display: inline-block;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.25rem 0.50rem;
  border-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  background: var(--clr-secondary-dark);
}

.form {
  background: var(--clr-white);
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 0.25rem;
  padding: 0.25rem 0.25rem;
  border-radius: var(--radius);
}
.form input {
  background: var(--clr-background);
  border-color: var(--clr-border);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--radius);
  padding: 0.25rem 0.25rem;
  font-size: medium;
  width: 75px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.form-control {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

.form button {
  display: inline-block;
  background: var(--clr-black);
  color: var(--clr-white);
  border-color: transparent;
  margin-top: 0.5rem;
  letter-spacing: var(--spacing);
  padding: 0.15rem 0.25rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  cursor: pointer;
}

footer {
  font-size: 0.75em;
  color: rgba(0, 27, 61, 0.6);
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
}

select {
  font-size: 1em;
  background:rgb(231, 231, 231);
  height:32px;
  border:1px solid #999;
  width:180px;
  text-indent: 5px;
  -webkit-appearance: none;
}

.image {
  width: 100%;
}

.readMe {
  margin-top: 1em;
  margin-bottom: 1.5em;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--clr-secondary-light);
  padding: 1em;
}

.readMe p, h4{
  color: var(--clr-text-light);
}

.status {
  margin-left: 0.5em;
  font-size: 0.95em;
  border-style: dashed;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  border-color: var(--clr-secondary-light);
}
